@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/extends";

@use "base/reset";
@use "base/typography";

@use "layout/header";
@use "layout/footer";
@use "layout/main";

@use "components/buttons";
@use "components/cards";
@use "components/navbar";

@use "pages/home";
@use "pages/servicios";
@use "pages/sobre-mi";
@use "pages/contacto";
