.footer {
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  color: #fff;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.9)
    );
  }

  .footer-content {
    position: relative;
    z-index: 2;
    padding: 2rem;
  }
}
