@use "../abstracts/mixins" as m;

.btn-flama {
  background: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  @include m.glow-hover(#ff4500);
}

.btn-wsp {
  background: #25d366;
  color: #fff;
  @include m.glow-hover(#25d366);
}

.btn-ig {
  background: #e1306c;
  color: #fff;
  @include m.glow-hover(#e1306c);
}
