.btn-flama {
  background: #ff2a00;
  color: white;
  border: none;
  @include glow-hover(#ff4500);
}

.btn-wsp {
  background: #25d366;
  color: white;
  @include glow-hover(#25d366);
}

.btn-ig {
  background: #ff4d6d;
  color: white;
  @include glow-hover(#ff4d6d);
}
