// Paleta Gaming Flama Gamer
$color-primary: #ff2a00;
$color-secondary: #0d0d0d;
$color-highlight: #ff8c00;
$color-glow: #ff4500;
$color-text: #ffffff;

$color-wsp: #25d366;
$color-ig: #ff4d6d;

$font-main: 'Orbitron', sans-serif;
